<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">
  <link rel="stylesheet" href="/stylesheets/vendor.bundle.base.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="/javascripts/vendor.bundle.base.js"></script>
  <script src="/javascripts/off-canvas.js"></script>
  <script src="/javascripts/hoverable-collapse.js"></script>
  <script src="/javascripts/template.js"></script>
  <script src="/javascripts/todolist.js"></script>
  <script src="/javascripts/Chart.min.js"></script>
  <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/file-upload.js"></script>
</head>

<body>
  {{{body}}}
  
</body>

</html>